<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="SMTPHostName" value="smtp.live.com"/>
    <add key="FromEmail" value="" />
    <add key="FromEmailPassword" value=""/>
    <add key="ToEmail" value="trigger@applet.ifttt.com"/>
  </appSettings>
</configuration>
